p.create-title Event Details
.form-group
  label(for='title') EVENT TITLE *
  input#title.form-control(type='text' name='title' placeholder='Give it a short distinct name')
.form-group
  label(for='location') LOCATION *
  input#location.form-control(type='text' name='location' placeholder="Specify where it's held")
  //- p.location_map &nbsp;&nbsp;&nbsp;지도로 보기
  br
  .map_wrap
    #map(style="width:25em;height:25em;display: inline-block;")
    .hAddr
      span#centerAddr
.form-group
  label(for='starts') STARTS *
  input#starts.form-control.col-lg-3(type='date' name='start_date' title='YYYY-MM-DD 형식으로 작성해주세요')
  select#start_time.form-control.col-lg-2(name='start_time')
    option(value='01:00') 01:00  
    option(value='02:00') 02:00 
    option(value='03:00') 03:00 
    option(value='04:00') 04:00 
    option(value='05:00') 05:00 
    option(value='06:00') 06:00 
    option(value='07:00' selected) 07:00 
    option(value='08:00') 08:00 
    option(value='09:00') 09:00 
    option(value='10:00') 10:00 
    option(value='11:00') 11:00 
    option(value='12:00') 12:00 
  .form-check
    label.form-check-label
      input.form-check-input(type='radio' name='start_apm' value='am') 
      | am &nbsp;&nbsp;
    label.form-chech-input 
      input.form-check-input(type='radio' name='start_apm' value='pm') 
      | pm
.form-group
  label(for='ends') ENDS *
  input#ends.form-control.col-lg-3(type='date' name='end_date')
  select#end_time.form-control.col-lg-2(name='end_time')
    option(value='01:00') 01:00  
    option(value='02:00') 02:00 
    option(value='03:00') 03:00 
    option(value='04:00') 04:00 
    option(value='05:00') 05:00 
    option(value='06:00') 06:00 
    option(value='07:00' selected) 07:00 
    option(value='08:00') 08:00 
    option(value='09:00') 09:00 
    option(value='10:00') 10:00 
    option(value='11:00') 11:00 
    option(value='12:00') 12:00 
  .form-check
    label.form-check-label
      input.form-check-input(type='radio' name='end_apm' value='am') 
      | am &nbsp;&nbsp;
    label.form-chech-input 
      input.form-check-input(type='radio' name='end_apm' value='pm') 
      | pm
//- .form-group
//-   label(for='event-image') EVENT IMAGE
//-   form(method='post' enctype='multipart/form-data')
//-     input.form-control-file(type='file' accept='image/*')
.form-group
  label(for='event-description') EVENT DESCRIPTION *
  textarea#mytextarea.form-control(rows='7' name='event_description')
.form-group
  label(for='event-organizer') ORGANIZER NAME *
  input#organizer.form-control(type='text' name='organizer' placeholder="Who's organizing this event?")
.form-group
  label(for='event-organizer-description') ORGANIZER DESCRIPTION *
  textarea#organizer_description.form-control(rows='1' name='organizer_description')

p.create-title Create Tickets
  p.ticket-price What type of ticket would you like to start with?
.event-input.event-price-button
  button.btn.btn-outline-primary.btn-free(type='button' name='free') + FREE TICKET
  button.btn.btn-outline-primary.btn-paid(type='button' name='paid') + PAID TICKET
p.create-title Additional Setting
.form-group
  label(for='event-type') EVENT TYPE
  select.form-control(name='event_type')
    option(value='' selected disabled) Select the type of event
    option(value='Concert or performance') Concert or performance
    option(value='Conference') Conference
    option(value='Festival or fair') Festival or fair
    option(value='Tour') Tour
    option(value='Other') Other
.form-group
  label(for='event-topic') EVENT TOPIC
  select.form-control.col-lg-3(name='event_topic')
    option(value='' selected disabled) Select a topic
    option(value='Business & Professional') Business & Professional
    option(value='Music') Music
    option(value='Science & Technology') Science & Technology
    option(value='Travel & Outdoor') Travel & Outdoor
    option(value='Religion & Spirituality') Religion & Spirituality
    option(value='Other') Other
br
br

script#daum_map(type="text/template")
  script(type="text/javascript", src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5161517a9e126daa813c4fc2ef4904ce&libraries=services")
  script
    |var mapContainer = document.getElementById('map'); // 지도를 표시할 div 
    |var mapOption = {center: new daum.maps.LatLng(37.566826, 126.9786567),level: 5};  
    |var map = new daum.maps.Map(mapContainer, mapOption); 
    |var geocoder = new daum.maps.services.Geocoder();
    |var marker = new daum.maps.Marker(); // 클릭한 위치를 표시할 마커입니다
    |var infowindow = new daum.maps.InfoWindow({zindex:1}); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다
    |searchAddrFromCoords(map.getCenter(), displayCenterInfo);
    |daum.maps.event.addListener(map, 'click', function(mouseEvent) {
    |  searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
    |      if (status === daum.maps.services.Status.OK) {
    |          if(!!result[0].road_address){var detailAddr = '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>'; $('#location').val(result[0].road_address.address_name);}
    |          else {var detailAddr = '<div>지번 주소 : ' + result[0].address.address_name + '</div>';$('#location').val(result[0].address.address_name);}
    //- |          var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
    //- |          detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';          
    |          var content = '<div class="bAddr">' + detailAddr + '</div>';
    |          marker.setPosition(mouseEvent.latLng);
    |          marker.setMap(map);
    |          infowindow.setContent(content);
    |          infowindow.open(map, marker);
    |      }   
    |  });
    |});
    |daum.maps.event.addListener(map, 'idle', function() {
    |  searchAddrFromCoords(map.getCenter(), displayCenterInfo);
    |});
    |function searchAddrFromCoords(coords, callback) {
    |  geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
    |}
    |function searchDetailAddrFromCoords(coords, callback) {
    |  geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
    |}
    |function displayCenterInfo(result, status) {
    |  if (status === daum.maps.services.Status.OK) {
    |      var infoDiv = document.getElementById('centerAddr');
    |      infoDiv.innerHTML = result[0].address_name;
    |  }    
    |}
    
    
script#free-form(type="text/template")
  table#free-table.table.table-responsive
    thead
      tr
        th Ticket name
        th Quantity available
        th Price
    tbody
      tr
        td
          input.free_ticket_name(type='text', name='ticket_name', placeholder='Ticket name')
        td
          input.free_ticket_num(type='text', name='ticket_quantity' placeholder='Quantity available')
        td free
        
script#paid-form(type="text/template")
  table#paid-table.table.table-responsive
    thead
      tr
        th Ticket name
        th Quantity available
        th Price
    tbody
      tr
        td
          input.paid_ticket_name(type='text', name='ticket_name', placeholder='Ticket name')
        td
          input.paid_ticket_num(type='text', name='ticket_quantity' placeholder='Quantity available')
        td 
          input.paid_ticket_price(type='text', name='ticket_price' placeholder='Price')
    
