extends ../layout

block css
  link(rel='stylesheet' type='text/css' href='/stylesheets/events/index.min.css')
block script
  script(type="text/javascript", src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<your-api-key>&libraries=services")

block content
  #map(style="width:50em;height:25em;")
  script.
    function showAddressWithTitle(map, doc) {
      var geocoder = new daum.maps.services.Geocoder();
      
      geocoder.addressSearch(doc.location, function(result, status) {
        if (status === daum.maps.services.Status.OK) {
          var coords = new daum.maps.LatLng(result[0].y, result[0].x);
          var marker = new daum.maps.Marker({
            map: map,
            position: coords
          });
          var content = '<div style="width:150px;text-align:center;padding:6px 0;">'+ doc.title +'</div>';
          var infowindow = new daum.maps.InfoWindow({
            content: content
          });
          infowindow.open(map, marker);
          daum.maps.event.addListener(marker, 'click', function(){
            location = '/events/' + doc.id;
          });
        }
      });
    }
    $(function() {
      var mapContainer = document.getElementById('map'),
          mapOption = {center: new daum.maps.LatLng(37.566826, 126.9786567), level: 7};
      var map = new daum.maps.Map(mapContainer, mapOption);
      $.ajax({
        method: 'GET',
        url: '/events/map.json',
        success: function(data) {
          for(var i in data) {
            showAddressWithTitle(map, data[i]);
          }
        }
      });
    });
  
  
            //- script
            //-   |var geocoder = new daum.maps.services.Geocoder();
            //-   |geocoder.addressSearch(event.location, function(result, status) {
            //-   |  if (status === daum.maps.services.Status.OK) {
            //-   |    var coords = new daum.maps.LatLng(result[0].y, result[0].x);
            //-   |    var marker = new daum.maps.Marker({
            //-   |      map: map,
            //-   |      position: coords
            //-   |    });
            //-   |    map.setCenter(coords);
            //-   |  } 
            //-   |});
            //- 
              
