extends ../layout

include ../includes/_paginate

block css
  link(rel='stylesheet' type='text/css' href='/stylesheets/events/index.min.css')
block script
  script(type="text/javascript", src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5161517a9e126daa813c4fc2ef4904ce&libraries=services")

block content
  .small Total #[span#total_num] event(s)
  #map(style="width:50em;height:25em;")
  script.
    $(function() {
      var mapContainer = document.getElementById('map'),
          mapOption = {center: new daum.maps.LatLng(37.566826, 126.9786567), level: 3};
      var map = new daum.maps.Map(mapContainer, mapOption);
      $.ajax({
        method: 'GET',
        url: '/events/map.json',
        success: function(data) {
          var geocoder = new daum.maps.services.Geocoder();
          $("#total_num").text(data.total);
          for(var i in data.docs) {
            var d = data.docs[i];
            geocoder.addressSearch(d.location, function(result, status) {
              if (status === daum.maps.services.Status.OK) {
                var coords = new daum.maps.LatLng(result[0].y, result[0].x);
                var marker = new daum.maps.Marker({
                  map: map,
                  position: coords
                });
                var infowindow = new daum.maps.InfoWindow({
                  content: '<div style="width:150px;text-align:center;padding:6px 0;"> &{title}; </div>'
                });
                daum.maps.event.addListener(marker, 'click', function(){
                  infowindow.open(map, marker);
                  location.replace(`/events/${d._id}`);
                });
              }
            });
          }
        }
      });
    });
  
  
            //- script
            //-   |var geocoder = new daum.maps.services.Geocoder();
            //-   |geocoder.addressSearch(event.location, function(result, status) {
            //-   |  if (status === daum.maps.services.Status.OK) {
            //-   |    var coords = new daum.maps.LatLng(result[0].y, result[0].x);
            //-   |    var marker = new daum.maps.Marker({
            //-   |      map: map,
            //-   |      position: coords
            //-   |    });
            //-   |    map.setCenter(coords);
            //-   |  } 
            //-   |});
            //- 
              
