extends ../layout

block css
  link(rel='stylesheet' type='text/css' href='/stylesheets/events/new.min.css')
  
block script
  script(type="text/javascript", src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5161517a9e126daa813c4fc2ef4904ce&libraries=services")
  script(src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=fi6u5alskg4pt9zdcxw6cjqlmvrbj54rsanloc7nw8u46z1p')
  script
    | tinymce.init({selector:'#mytextarea', menubar: false});
  script(src='../javascripts/events/new.js')
    
block content
  .createEvent
    form#createEvent(action='/events', method='POST')
      include _form
      .save
        button.btn.btn-outline-primary(type='submit') SAVE
        
        //TODO: 버튼 활성화가 안됨.... > 파일올리기때문에
              
