extends ../layout

block css
  link(rel='stylesheet' type='text/css' href='/stylesheets/events/new.min.css')
  
block script
  script(type="text/javascript", src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<your-api-key>&libraries=services")
  script(src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=<your-api-key>')
  script
    | tinymce.init({selector:'#mytextarea', menubar: false});
  script(src='../javascripts/events/new.js')
    
block content
  .createEvent
    form#createEvent(action='/events', method='POST')
      include _form
      .save
        button.btn.btn-outline-primary(type='submit') SAVE
        
              
