// 남색부분
.footer
    .row.menu-list
        .col.menu
            p.footer-title Use Eventbrite
            |
            a(href='')
                p.footer-text How It Works
            |
            a(href='')
                p.footer-text For Large & Complex Events
            |
            a(href='')
                p.footer-text Pricing
            |
            a(href='')
                p.footer-text Community Guidelines
            |
            a(href='')
                p.footer-text Eventbrite Mobile App
            |
            a(href='')
                p.footer-text Eventbrite Check-In App
            |
            a(href='')
                p.footer-text Eventbrite Spectrum
            |
            a(href='')
                p.footer-text Rally - Fun Things To Do
            |
            a(href='')
                p.footer-text Event Organizing Resources
            |
            a(href='')
                p.footer-text Sitemap
        |
        .col.menu
            p.footer-title Plan Events
            |
            a(href='')
                p.footer-text Conference Management Software
            |
            a(href='')
                p.footer-text Reunions
            |
            a(href='')
                p.footer-text Nonprofits & Fundraisers
            |
            a(href='')
                p.footer-text Eventbrite Reviews
            |
            a(href='')
                p.footer-text Sell Tickets
            |
            a(href='')
                p.footer-text Event Management & Planning
            |
            a(href='')
                p.footer-text Online Event Registration
            |
            a(href='')
                p.footer-text Online RSVP
            |
            a(href='')
                p.footer-text Venue Booking & Management
            |
            a(href='')
                p.footer-text Event Promotion
        |
        .col.menu
            p.footer-title Find Events
            |
            a(href='')
                p.footer-text Boston Events
            |
            a(href='')
                p.footer-text Chicago Events
            |
            a(href='')
                p.footer-text Denver Events
            |
            a(href='')
                p.footer-text Houston Events
            |
            a(href='')
                p.footer-text Los Angeles Events
            |
            a(href='')
                p.footer-text Nashville Events
            |
            a(href='')
                p.footer-text New York Events
            |
            a(href='')
                p.footer-text San Diego Events
            |
            a(href='')
                p.footer-text San Francisco Events
            |
            a(href='')
                p.footer-text All Cities
        |
        .col.menu
            p.footer-title Connect With Us
            |
            a(href='')
                p.footer-text
                    i.fa.fa-envelope-o(aria-hidden='true')
                    |  Contact Support
            |
            a(href='')
                p.footer-text
                    i.fa.fa-envelope(aria-hidden='true')
                    |  Contact Sales
            |
            a(href='')
                p.footer-text
                    i.fa.fa-twitter-square(aria-hidden='true')
                    |  Twitter
            |
            a(href='')
                p.footer-text
                    i.fa.fa-facebook-square(aria-hidden='true')
                    |  Facebook
            |
            a(href='')
                p.footer-text
                    i.fa.fa-linkedin-square(aria-hidden='true')
                    |  LinkedIn
            |
            a(href='')
                p.footer-text
                    i.fa.fa-instagram(aria-hidden='true')
                    |  Instagram
            |
            a(href='')
                p.footer-text
                    i.fa.fa-google-plus-square(aria-hidden='true')
                    |  Google+
    hr
    .row.menu2
        .col-sm-12.col-lg-9
            a.footer-title(href='') About
            |
            a.footer-title(href='') Blog
            |
            a.footer-title(href='') Help
            |
            a.footer-title(href='') Careers
            |
            a.footer-title(href='') Press
            |
            a.footer-title(href='') Security
            |
            a.footer-title(href='') Developers
            |
            a.footer-title(href='') Terms
            |
            a.footer-title(href='') Privacy
            |
            a.footer-title(href='') Cookies
    hr
    |
    .end
        p.footer-title 2017.10.01 Web Programming
        p.footer-title LEE SUNGHEE
