// 메뉴 부분
nav.navbar.navbar-expand-lg.navbar-light.bg-white
    a.navbar-brand.logo(href='../') Sunghee
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse.col-md-7.ml-auto
        ul.navbar-nav.mr-auto
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href='/events', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | BROWSE EVENTS
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                  a.dropdown-item(href='/events') 전체보기
                  a.dropdown-item(href='/events/map') 지도로 보기
                  a.dropdown-item(href='') 캘린더로 보기
                    
            if(!currentUser)
              li.nav-item.active
                  a.nav-link(href='/signin', data-toggle='modal', data-target='#exampleModal') SIGN IN
                  include ../signin.pug
                  include ../users/new.pug
                  include ../users/reset_password.pug
            else 
              li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href=`/users/${currentUser._id}`, data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | My Profile
                  .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                      a.dropdown-item(href=`/users/${currentUser._id}`) Account Settings
                      a.dropdown-item(href='/test') My event
                      a.dropdown-item(href='#') My favorite
                      a.dropdown-item(href='/signout') Log out
            if(currentUser && currentUser.isAdmin)
              li.nav-item.active
                a.nav-link(href='/users') User List
            li.nav-item.active
                a.nav-link(href='/events/new')
                    span CREATE EVENT
