extends ../layout

block content
  #editAccount 
    p.title Edit Account
    .input
        form(action=`/users/${user._id}/changePassword?_method=PUT`, method='POST')
            .form-group
                label(for='password') Current Password
                input#password.form-control(type='password', name='password', placeholder='Current Password')
            .form-group
                label(for='password') New Password
                input#password.form-control(type='password', name='new_password', placeholder='New Password')
            .form-group
                label(for='password_confirmation') New Password Confirmation
                input#password_confirmation.form-control(type='password', name='new_password_confirmation', placeholder='New Password Confirmation')
            a.btn.btn-outline-secondary(href='javascript:window.history.back();') Back 
            | 
            button.btn.btn-primary(type='submit') Update
