//- extends ../index
//- block script
//-   script(src='../javascripsts/users/new')
//- block content2
  #createAccount.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
          .modal-content
              .modal-header
                  h3#exampleModalLabel.modal-title Register
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
              .modal-body
                  form(action='/users', method='POST')
                      .form-group
                          label(for='name') Name
                          input#name.form-control(type='text', name='name', placeholder='Your name')
                      .form-group
                          label(for='email') Email address
                          input#email.form-control(type='email', name='eamil', placeholder='Email')
                      .form-group
                          label(for='password') Password
                          input#password.form-control(type='password', name='password', placeholder='Password')
                      .form-group
                          label(for='password_confirmation') Password Confirmation
                          input#password_confirmation.form-control(type='password', name='password_confirmation', placeholder='Password')
                      button.btn.btn-primary(type='submit') Register
    script(type="text/javascript", src="../javascripsts/layout.js")
                      
