// 비밀번호 재설정 창
#resetPassword.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h3#exampleModalLabel.modal-title Reset Password
                |
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            |
            .modal-body
                form
                    .form-group
                        label(for='name') Name
                        |
                        input#name.form-control(type='text', name='name', placeholder='Your name')
                        |
                        small Enter your name and a new password will be emailed to you.
                    |
                    button.btn.btn-primary(type='submit') Reset My Password
