.row {
  margin-top: 5%;
}
p.main-title{
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid gray;
  font-family: 'Kaushan Script', cursive;
}
div.card{
  margin-bottom: 10%;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  display: inline-block;
  a {
    div.card-img-overlay{
      display: inline-block;
      left: 70%;
      color: black;
      font-size: 0.75em;
      p.event-price {
        background-color: rgba(255,255,255,0.7);
      }
    }
    p.event-date{
      text-align: left;
      color: gray;
      font-size: 0.9em;
      letter-spacing: 0.3em;
    }

    p.event-name{
      text-align: left;
      color: black;
      font-size:1.1em;
      font-weight: bold;
      height: 2em;
    }

    p.event-location{
      text-align: left;
      color: gray;
      font-size: 0.8em;
    }
  }
  li.list-group-item{
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
  }

  a.event-type{
    text-align: left;
    color: gray;
    font-size: 0.8em;
    vertical-align: -webkit-baseline-middle;
    letter-spacing: 0.1em;
  }

  a.event-type:hover{
    color: #17a2b8;
  }

  i.event-icon{
    color: gray;
    float: right;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-left: 1px solid #d9d9d9;
  }

  .event-icon:hover{
    color:skyblue;
  }

}
